**/.*.sw*
/build/
**/__pycache__
!build/README.md
work/
!**/README*
!**/PLACEHOLDER
!config/packages.flags/zentoo/**
!config/packages.sets/**
!config/kernel.defines/kernel.sources/gentoo-upstream-latest
!config/cpu.defines/
!config/
